.headerWrap {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 19px 42px;
  gap: 30px;
  align-items: center;
  z-index: 10;
  transition: all 0.5s ease-out;
  // background-image: radial-gradient(
  //   rgba(0, 0, 0, 0) 1px,
  //   var(--background) 1px
  // );
  // background-size: 4px 4px;
  // backdrop-filter: blur(8px);
  .menu {
    display: flex;
    gap: 20px;

    .item {
      font-size: 20px;
      color: var(--half-black);
      cursor: pointer;
      transition: color 0.5s ease-out;
    }

    .item:hover {
      color: black;
    }
  }

  .userOptions {
    position: absolute;
    right: 42px;
    top: 21px;
    padding: 15px 15px;
    height: 84px;
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid #000000;
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 200px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
.backgroundBlur {
  background-color: white;
}
