@use '@/styles/_variable' as variable;
.main {
  display: flex;
  flex-direction: column;

  section {
    width: 100%;
    background: white;

    .contentWrap {
      width: 50%;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 120px 120px 120px 120px;
      gap: 50px;

      .contentBox {
        // max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .head {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            font-size: calc(32px + (40 - 32) * (100vw - 384px) / (1440 - 384));
            font-weight: 800;
          }

          .subtitle {
            font-size: calc(22px + (40 - 32) * (100vw - 384px) / (1440 - 384));
          }
        }
      }
    }
  }

  .intro {
    display: inline-flex;
    flex-wrap: wrap;

    .contentWrap {
      align-items: flex-end;
      flex-grow: 1;
      // min-width: 40rem;

      .content {}

      .pattern {
        position: absolute;
        right: 0;
        top: 0;
        mix-blend-mode: soft-light;
        opacity: 0.5;
        height: calc(100vw / 5);
        width: auto;
        object-fit: contain;
        overflow: hidden;
      }

      .dataWrap {
        color: white;
        display: flex;
        max-width: 1200px;
        flex-wrap: wrap;

        .dataItem {
          min-height: 110px;
          min-width: 200px;
          display: flex;
          flex-direction: column;
          flex-basis: 30%;

          .dataNumber {
            font-size: calc(32px + (40 - 32) * (100vw - 384px) / (1440 - 384));

            .unit {
              font-family: sans-serif;
              font-size: calc(12px + (40 - 32) * (100vw - 384px) / (1440 - 384));
              font-weight: 700;
              margin-left: 6px;
            }
          }

          .dataDescription {
            font-weight: 400;
            line-height: 29px;
          }
        }
      }
    }

    .contentWrap.data {
      background-color: #10375b;
      align-items: flex-start;
    }
  }

  .photo {
    content: "";
    height: calc(100vh - 80px);
    position: relative;
    background: url('../../public/2023.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .title {
      font-family: "JetBrains Mono";
      font-weight: 700;
      font-size: calc(32px + (40 - 32) * (100vw - 384px) / (1440 - 384));
      color: white;
      position: absolute;
      top: 42px;
      left: 3rem;
    }
  }

  .departments {
    background: url("/background_pattern_2.png");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    justify-content: center;

    .contentWrap {
      width: auto;
      max-width: var(--safe-width);

      .departmentCardWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        @media (max-width: variable.$mobile-breakpoint) {
          gap: 20px;
        }
      }

      .departmentCardWrap>div {
        flex-basis: 49%;
      }
    }
  }
}
@media (max-width: variable.$mobile-breakpoint) {
  .main{
    section{
      .contentWrap{
        padding: 50px;
        width: 100%;
      }
    }
    .intro{
      flex-direction: column;
      .contentWrap{
        .pattern{
          width: 75vw;
          height: auto;
        }
      }
    }
    .departments{
      .contentWrap{
        .departmentCardWrap{
          gap: 20px;
          >div{
            flex-basis: 100%;
          }
        }
      }
    }
  }
}