@use '@/styles/_variable' as variable;
.headerWrap {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 14px 42px;
  gap: 30px;
  align-items: center;
  z-index: 10;
  transition: all 0.5s ease-out;
  // background-image: radial-gradient(
  //   rgba(0, 0, 0, 0) 1px,
  //   var(--background) 1px
  // );
  // background-size: 4px 4px;
  // backdrop-filter: blur(8px);
  .menu {
    display: flex;
    gap: 32px;

    .item {
      font-size: 16px;
      color: var(--half-black);
      cursor: pointer;
      transition: color 0.5s ease-out;
    }

    .item:hover {
      color: black;
    }

    .subMenu {
      position: absolute;
      top: 100%;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.493);
      backdrop-filter: blur(8px);
      /* Note: backdrop-filter has minimal browser support */
      transition: all 0.5s ease-out;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 10;
      .item {
        font-size: 16px;
        color: var(--half-black);
        cursor: pointer;
        transition: color 0.5s ease-out;
      }

      .item:hover {
        color: black;
      }
    }
  }
  .mobileMenu{
    display: none;
  }
  .mobileMenuIcon { display: none; width: 30px; height: 30px; position: relative; }
  .mobileMenuIcon:before, .mobileMenuIcon:after { content: ""; display: block; width: 30px; height: 3px; background: #000; position: absolute; left: 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .mobileMenuIcon:before { top: 5px; box-shadow: 0 16px #000; }
  .mobileMenuIcon:after { bottom: 14px; }
  .mobileMenuIcon.show:before { top: 15px; box-shadow: none; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
  .mobileMenuIcon.show:after { bottom: 12px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
  .userOptions {
    position: absolute;
    right: 42px;
    top: 21px;
    padding: 15px 10px;
    height: 20px;
    background: rgba(255, 255, 255, 0.154);
    // border: 2px solid #000000;
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 200px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }
  @media (max-width: variable.$mobile-breakpoint) {
    .mobileMenuIcon{
      display: block;
    }
    .menu{
      display: none;
    }
    .mobileMenu{
      visibility: hidden;
      opacity: 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      transition: all .5s ease-out;
      position: absolute;
      z-index: 8;
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: blur(0px);
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      padding: 120px 0 0 20px;
      .item {
        font-size: 20px;
        color: var(--half-black);
        cursor: pointer;
        transition: color 0.5s ease-out;
      }
  
      .item:hover {
        color: black;
      }
      .subItem{
        overflow: hidden;
        transition: all .5s ease-out;
        .subMenu{
          display: grid;
          transition: all .5s ease-out;
          .item{
            font-size: 16px;
            overflow: hidden;
          }
        }
      }
    }
    .mobileMenu.show{
      visibility: unset;
      opacity: 100;
      backdrop-filter: blur(20px);
      background-color: rgba(255, 255, 255, 0.8);
    }
    .logo{
      z-index: 10;
    }
    .mobileMenuIcon{
      z-index: 10;
    }
    .userOptions{
      display: none;
    }
  }
}
.backgroundBlur {
  background-color: white;
}
@media (max-width: variable.$mobile-breakpoint){
  .headerWrap{
    justify-content: space-between;
    padding: 14px;
  }
  .logo{
    height: 30px;
    width: auto;
  }
}