.slider {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;

  .left {
    // padding: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 40rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    z-index: 5;
    flex-shrink: 0;

    .content {
      padding: 50px;

      .title {
        font-weight: 700;
        font-size: calc(48px + (96 - 48) * (50vw - 768px) / (1440 - 384));
        color: var(--normal-black);
        margin-bottom: 8px;
      }

      .description {
        font-weight: 400;
        font-size: calc(32px + (40 - 32) * (50vw - 768px) / (1440 - 384));
        color: var(--normal-black);
      }

      .action {
        color: #1c1f23;
        border: 3px solid #1c1f23;
        // border-radius: 10px;
        background: none;
        padding: calc(50vw * 0.016) calc(50vw * 0.06);
        font-weight: 600;
        font-size: calc(22px + (40 - 32) * (50vw - 768px) / (1440 - 384));
        margin-top: 42px;
        transition: all 0.3s ease-out;
        cursor: pointer;
      }

      .action:hover {
        background-color: #1c1f23;
        color: white;
      }
    }
  }

  .right {
    width: 100vw;
    height: 100vh;
    min-width: 40rem;
    flex-grow: 1;
    z-index: 1;
    display: flex;

    .imageWrap {
      width: max-content;
      height: 100%;
      display: flex;

      .image {
        object-fit: cover;
        position: relative;
        width: 100vw;
        height: 100%;
      }
    }
  }
}

@media (max-width: var(--mobile-breakpoint)) {
  .slider {
    .left{
      .content{
        padding: 50px;
        text-wrap: wrap;
      }
    }
  }
}